@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    padding: 20px;
}


.buttons {
    margin: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
}

body {
    text-align: center;
    margin: 0;
    background-color: white;
}

.container {
    padding: 30px;
}

.buttons {
    margin: 20px;
}

button {
    font-size: 20px;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ff4081;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff5c8d; 
}

.retro-header {
    background-color: white;
    border: 2px solid #6d6d6d;
    color: black;
    font-family: 'Press Start 2P', cursive; 
    padding: 10px;
    width: 80%;
    max-width: 600px; 
    margin: 20px auto;
    box-sizing: border-box;
    overflow-wrap: break-word; 
    white-space: pre-line; 
}
  
.retro-btn {
background-color: white;
border: 2px solid #6d6d6d;
color: black;
font-family: 'Press Start 2P', cursive; 
padding: 10px;
width: 80%;
max-width: 100px;
margin: 20px auto;
box-sizing: border-box;
overflow-wrap: break-word; 
white-space: pre-line; 
}